@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*	{
	margin:auto;
	margin-top: 0.5vw;
	padding: 0;
	align-content: center;
	list-style: none;
	text-decoration:none;
	text-decoration-color: gray;
	link-color:none;
	background-color:darkgrey;
	}


section#canvas {
	
	width: 70vw;
	height: 83vw;
	background-color: #0099cc;
	
}

span {
	display: inline-block;
	width: 1.053%;
	height: 100%;
	margin: 0;
}

	.tpt {background-color:transparent}
		.tpt:hover{background-color: aqua}

	.pink {background-color: #cc6699}
		.pink:hover{background-color: tomato}

	.yellow {background-color:#A97E00}
		.yellow:hover{background-color: yellow}

	.blue {background-color: #000033}
		.blue:hover{background-color: blue}

	.white {background-color: whitesmoke}
		.white:hover{background-color: grey}



footer {
				padding:2vw;
				font-size: 2vw;
				font-family: 'Press Start 2P', cursive;
				text-align: center}

