 /*                                                      .. .  . ...    .                                                
                                                 MMMMMMMMM.MMMMI MMMMMM$                                                
                                                 MMM   MMMM MMMMMMMMMMM7                                                
                                                 MMMMMMMMM  .MMMMMMM                                                    
                                                 MMM   MMMM  .MMMMM                                                     
                                                 MMMMMMMMMM   :MMM.                                                     
                                                 MMMMMMMMM.   :MMM.                                                     
                                                                                                                        
                         MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                          
                         MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                          
                           .............    ........... .    ...... .    ..........  .........                          
                           .MMMMMMMMMMMMMM  MMMMMMMMMMMMM.  MMMMMMMMM.  MMMMMMMMMMM. MMMMMMMMM                          
                           7MMMMMMMMMMMMMMM MMMMMMMMMMMMMM..MMMMMMMMMM  MMMMMMMMMMM.MMMMMMMMMM                          
                          .MMMMMMMM  MMMMMMMMMMM.MMM   ZMMM.MMMM  +MMM  MMMMMMM.  . MMMMN    .                          
                          .MMMI MMMM.MMMMMMMMMMM.MMM    MMM.MMMMMMMMMD  MMMMMMM.     MMMMMM.                            
                          MMMMMMMMMM MMMM.MMMMMM.MMMMMMMMMM MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                             
                         .MMMMMMMMMM MMMM .MMMMM.MMMMMMMM8  MMMM MMMMMMMMMMMMMMMMMMMMMMMMMD                             
                                                                                                                        
                              .   .              .                 .       .   .           .                            
                         .MMMMM  .MMMMMMMMMM.    MMMMMMMMMM  MMMMMM. MMMMMMMM.  MMMMMMMMMMM                             
                         .MMMMMM MMMMMMMMMMM.    MMMMMMMMMMM MMMMMMNMMMMMMMMMM  MMMMMNMMMM                              
                         .MMMMMMMMMMMMMMMMMM.    MMMM?MMMMMMMMMMMM.MMMM   ,MMMM.    $MMMM                               
                         .MMMMMMMMMMMMMMMMMM     MMMM?MMMMMMMMMMMM.MMM8.   MMMM.  .8MMMM.                               
                         .MMMMMMMMMMMMMM.MMMM   MMMM+IMMMMMMMMMMMM MMMM+  MMMMM.  MMMMM                                 
                         .MMMM.MMMOMMMMM 7MMMMMMMMMM ?MMMM.INMMMMM .MMMMMMMMMM   NMMMMMMMMMMMM                          
                         .MMMM..M=.MMMMM   MMMMMMM.  ?MMMM  .MMMMM   $MMMMMM.,  MMMMMMMMMMMMMM                          
                              . .  .   .    . . ..   .   .               . .    .            .                          
                         MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                          
                         MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM   */
 @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
 * {
   margin: 0;
   padding: 0;
   font-size: 0px; /*how can i do better to get rid of the space between blocks?*/
   align-content: center;
   list-style: none;
   text-decoration: none;
   text-decoration-color: gray;
   link-color: none;
   background-color: darkgrey;
 }
 main#canvas {
   margin-left: auto;
   margin-right: auto;
   width: 42.4vw;
   height: 42.4vw;
   background-color: red;
 }
 .out {
   width: 50%;
   height: 50%;
   display: inline-block;
   background-color: blue;
 }
 main#otl {
   background-color: #3399cc;
 }
 main#otl:hover {
   background-color: #666699
 }
 .tl1 {
   float: right;
 }
 #tl2 {
   background-color: #ffff00;
   width: 89%;
   height: 55%;
   margin-top: 45%;
 }
 #tl2:hover {
   background-color: #cc3333
 }
 #tl3 {
   background-color: #666699;
   width: 81%;
   height: 69%;
   margin-top: 31%;
 }
 #tl3:hover {
   background-color: #3399cc
 }
 #tl4 {
   background-color: #cc3333;
   width: 61.5%;
   height: 33%;
   margin-top: 22%;
 }
 #tl4:hover {
   background-color: #ffff00
 }
 main#otr {
   background-color: #669933;
 }
 main#otr:hover {
   background-color: #336699;
 }
 .tr1 {
   float: left;
 }
 #tr2 {
   background-color: #cc9933;
   width: 89%;
   height: 55%;
   margin-top: 45%;
 }
 #tr2:hover {
   background-color: #cc3366
 }
 #tr3 {
   background-color: #336699;
   width: 81%;
   height: 69%;
   margin-top: 31%;
 }
 #tr3:hover {
   background-color: #669933
 }
 #tr4 {
   background-color: #cc3366;
   width: 62%;
   height: 33%;
   margin-top: 22%;
 }
 #tr4:hover {
   background-color: #cc9933
 }
 main#obl {
   background-color: #336699;
 }
 main#obl:hover {
   background-color: #669933
 }
 .bl1 {
   float: right;
 }
 #bl2 {
   background-color: #cc3366;
   width: 89%;
   height: 55%;
 }
 #bl2:hover {
   background-color: #cc9933
 }
 #bl3 {
   background-color: #669933;
   width: 81%;
   height: 49%;
 }
 #bl3:hover {
   background-color: #336699
 }
 #bl4 {
   background-color: #cc9933;
   width: 62%;
   height: 37%;
 }
 #bl4:hover {
   background-color: #cc3366
 }
 main#obr {
   background-color: #666699;
 }
 main#obr:hover {
   background-color: #3399cc
 }
 .br1 {
   float: left;
 }
 #br2 {
   background-color: #cc3333;
   width: 89%;
   height: 55%;
 }
 #br2:hover {
   background-color: #ffff00
 }
 #br3 {
   background-color: #3399cc;
   width: 81%;
   height: 49%;
 }
 #br3:hover {
   background-color: #666699
 }
 #br4 {
   background-color: #ffff00;
   width: 62%;
   height: 37%;
 }
 #br4:hover {
   background-color: #cc3333
 }
 p {
   padding: 2vw;
   font-size: 2vw;
   font-family: 'Press Start 2P', cursive;
   text-align: center
 }
 a {
   padding: 2vw;
   font-size: 2vw;
   font-family: 'Press Start 2P', cursive;
   margin: auto;
 }