/* 
                                                                                                          
                                                        .. .  . ...    .                                                
                                                 MMMMMMMMM.MMMMI MMMMMM$                                                
                                                 MMM   MMMM MMMMMMMMMMM7                                                
                                                 MMMMMMMMM  .MMMMMMM                                                    
                                                 MMM   MMMM  .MMMMM                                                     
                                                 MMMMMMMMMM   :MMM.                                                     
                                                 MMMMMMMMM.   :MMM.                                                     
                                                                                                                        
                         MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                          
                         MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                          
                           .............    ........... .    ...... .    ..........  .........                          
                           .MMMMMMMMMMMMMM  MMMMMMMMMMMMM.  MMMMMMMMM.  MMMMMMMMMMM. MMMMMMMMM                          
                           7MMMMMMMMMMMMMMM MMMMMMMMMMMMMM..MMMMMMMMMM  MMMMMMMMMMM.MMMMMMMMMM                          
                          .MMMMMMMM  MMMMMMMMMMM.MMM   ZMMM.MMMM  +MMM  MMMMMMM.  . MMMMN    .                          
                          .MMMI MMMM.MMMMMMMMMMM.MMM    MMM.MMMMMMMMMD  MMMMMMM.     MMMMMM.                            
                          MMMMMMMMMM MMMM.MMMMMM.MMMMMMMMMM MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                             
                         .MMMMMMMMMM MMMM .MMMMM.MMMMMMMM8  MMMM MMMMMMMMMMMMMMMMMMMMMMMMMD                             
                                                                                                                        
                              .   .              .                 .       .   .           .                            
                         .MMMMM  .MMMMMMMMMM.    MMMMMMMMMM  MMMMMM. MMMMMMMM.  MMMMMMMMMMM                             
                         .MMMMMM MMMMMMMMMMM.    MMMMMMMMMMM MMMMMMNMMMMMMMMMM  MMMMMNMMMM                              
                         .MMMMMMMMMMMMMMMMMM.    MMMM?MMMMMMMMMMMM.MMMM   ,MMMM.    $MMMM                               
                         .MMMMMMMMMMMMMMMMMM     MMMM?MMMMMMMMMMMM.MMM8.   MMMM.  .8MMMM.                               
                         .MMMMMMMMMMMMMM.MMMM   MMMM+IMMMMMMMMMMMM MMMM+  MMMMM.  MMMMM                                 
                         .MMMM.MMMOMMMMM 7MMMMMMMMMM ?MMMM.INMMMMM .MMMMMMMMMM   NMMMMMMMMMMMM                          
                         .MMMM..M=.MMMMM   MMMMMMM.  ?MMMM  .MMMMM   $MMMMMM.,  MMMMMMMMMMMMMM                          
                              . .  .   .    . . ..   .   .               . .    .            .                          
                         MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                          
                         MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                          
                                                                                              	*/
*{
	text-decoration: none;
	font-size: 18px;
	text-align: center;
	list-style:none;
}
body {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  margin-top: 0;
  background-color: grey;
	
}
header {
  background-color: black;
}
#navigation {
  height: 120px;
  background-color: orange;
  text-align: center;
  background-blend-mode: darken;
  padding: 20pt;
}
#content {
  margin-top: 20pt;
  width: 1100px;
  height: 550px;
  background-color: #ff8c00;
  text-align: center;
  margin: auto;
}
#table {
  height: 900px;
  text-align: center;
  float: center;
}
#client {
  width: 450px;
  float: left;
  text-align: right;
  margin-left: 49px;
}
#users {
  width: 450px;
  float: right;
  margin-right: 49px;
}
#competitive {
  text-align: center;
  margin: auto;
}
#footer {
  width: 600px;
  background-color: red;
}
h1 {
  font-family: "helvetica", sans-serif;
  color: orange;
  font-size: 72pt;
  text-align: center;
}
h2 {
  margin: auto;
  font-family: "futura", sans-serif;
  color: orange;
  font-size: 24pt;
  text-align: center;
}
h3 {
  font-family: "monospace", sans-serif;
  color: black;
  font-size: 24pt;
  text-align: left;
}