/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1.2;
    background-color: rgb(254, 250, 246);
    font-family: 'Lato', sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 1.4em;
    list-style: square;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/* box-sizine  */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


main h1 {
    font-size: 32px;
    color: rgb(100, 100, 100);
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    margin-bottom: 0.5em;
}

.content {
    margin-top: 5px;
    max-width: 760px;
    margin: 0 auto;
    position: relative;
}

p {
    font-size: 1.1em;
}


#launcher {
    width: 600px;
    min-height: 50px;
    position: absolute;
    left: 0px;
    z-index: 100;
    background-color: rgb(62, 138, 240);
    font-weight: bold;
    
}

#launchpad {
    padding: 5px;
    
}

#open {
    min-height: 50px;
    margin: 0;
    cursor: pointer;
    color: #FFF;
    padding: 5px 5px 5px 10px;
}

#open:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(200, 200, 200);
}

.box {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0px;
    top: 150px;
    background-color: rgb(234, 53, 53);
    
}

#one,
#two,
#three {
    display: inline-block;
}

#instructions {
    margin-top: 40px;
    box-sizing: border-box;
    background-attachment: yellow;
    height: auto;
    width: auto;

}

/* The icons, from Font Awesome */
i {
    width: 190px;
    height: 50px;
    margin: 2px;
    padding: 0px 0px 10px 75px;
    border: 1px solid #000000;
}