
@import url("colors.css");
@import url("navbar.css");

header {
    width: 100%;
    background-color: black;
}

body {
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
    text-decoration: white;
                
}


main {
    width: 100%;
    background-color: black;
    margin: auto;
	text-align:center;
}
section {
    padding: 20px;
	text-align: center;
	padding-top: 100px;
	align-items: center;
}
