body {
    font-family: Arial, Verdana, sans-serif;
}

#wrapper {
    min-width: 900px;
    margin-left: 20px;
}

#left {
    width: 200px;
    float: left;
    margin-right: 5px;
}

#left ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

#left ul li {
    height: 1.2em;
    margin: 5px 2px;
    padding: 4px 4px 4px 8px;
    background-color: #1d37fa;
    border: 1px solid #000000;
}

#left a {
    text-decoration: none;
    color: #FFFFFF;
}

#words {
    margin-left: 210px;
    width: 600px;
    font-size: 1.2em;
    padding: 1px 20px;
}

footer {
    clear: both;
    padding-top: 100px;
}
