header {
    width: 100%;
    background-color:  white;
    position: fixed;
    margin-top: -8px;
    z-index: 500;
    
}

.logo {
    max-width: 200px;
    margin: 10px;
    padding-top: 10px;
    justify-self: left;
}

.toggle-button {
    width: 40px;
    float: right;
    margin: 10px;
	
}	
img.icon {
    display: block;
    margin: auto;
}
#toggleAssist, ul.nav-links {
	display: none;
}

#toggleAssist:checked + ul.nav-links 
{display:block;}

	
	
ul.nav-links {
    list-style: none;
    margin: 0px;
    padding: 20px;
    margin-top: -10px;
}

.nav-links li {
    padding: 20px 0px;
    border-bottom: 1px solid rgb(0,0,0);
	align-content: center;
	text-align: center;
}

.nav-links a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Raleway', sans-serif;
}

.nav-links li:hover {
    transition: 0.6s ease;
     border-radius: 8%;
     font-weight: 400;
 }

main {
    width: 100%;
    background-color: white;
    margin: 0 auto;
	align-content: center;
}
.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    padding-top: 40px;
    margin: 0 auto;
    width: 100%;
   
  }

.grid img {
    max-width: 100%;
  }

  .flex {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;

}
.replace img {
    width: 30%;
}

section {
    padding-top: 25px;
    margin: 0 auto;
    text-align: center;
    }
 

body {
        margin: 0px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Raleway', sans-serif;
        
    }
    
h1 {
    font-size: 45px;
    text-align: center;
    margin-top: -20px;
 
}

p {
    font-size: 22px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.hero-image {
        /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
        background-image: linear-gradient(rgba(241, 237, 237, 0.308), rgba(190, 186, 186, 0.5)), url("images/Quokka_cs.jpg");
        height: 400px;
        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 90px;
        margin-bottom: 20px;
      }
      
      .hero-image2  {
        background-image: linear-gradient(rgba(241, 237, 237, 0.308), rgba(190, 186, 186, 0.5)), url("images/nolog.jpg"); 
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 80px;   
      }

.hero-text {
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 20px;
        margin-right: 20px;
        margin: auto;
      }

.hero-text2 {
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-left: 40px;
        padding-right: 40px;
        margin: auto;
        margin-top: -40px;
        
      }

      .hero-image3  {
        background-image: linear-gradient(rgba(241, 237, 237, 0.308), rgba(190, 186, 186, 0.5)), url("images/smiling quokka.jpg"); 
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 20px;
        
    
      }

button {
       border-radius: 8px;
       background-color: rgb(248, 186, 104);
       padding: 10px;
       text-decoration: none;
   }

.button {
       border-radius: 8px;
       background-color: rgb(248, 186, 104);
       font-size: 18px;
       padding: 5px;
       margin: 10px;
       

       
}
@media (min-width: 768px) {

    .toggle-button {

        display: none;

    }

    ul.nav-links {

        display: block;

        float: right;

    }

    .nav-links li {

        display: inline-block;

        padding: 10px;

        border-bottom: none;

    }
  
    }