header {
    width: 100%;
    background-color:  white;
    position: fixed;
    margin-top: -8px;
    z-index: 500;
    
}

.logo {
    max-width: 200px;
    margin: 10px;
    padding-top: 10px;
    justify-self: left;
}

.toggle-button {
    width: 40px;
    float: right;
    margin: 10px;
	
}	
img.icon {
    display: block;
    margin: auto;
}
#toggleAssist, ul.nav-links {
	display: none;
}

#toggleAssist:checked + ul.nav-links 
{display:block;}

	
	
ul.nav-links {
    list-style: none;
    margin: 0px;
    padding: 20px;
    margin-top: -10px;
}

.nav-links li {
    padding: 20px 0px;
    border-bottom: 1px solid rgb(0,0,0);
	align-content: center;
	text-align: center;
}

.nav-links a {
    text-transform: none;
    text-decoration: none;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Raleway', sans-serif;
}

.nav-links li:hover {
    transition: 0.6s ease;
     border-radius: 8%;
     font-weight: 400;
 }

main {
    width: 100%;
    background-color: white;
    margin: 0 auto;
	align-content: center;
}
.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
    padding-top: 100px;
    margin: 0 auto;
    width: 100%;
   
  }

.grid img {
    max-width: 100%;
  }

section {
    padding-top: 25px;
    margin: 0 auto;
    text-align: center;
    }
 

body {
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Raleway', sans-serif;
        
    }
    
h1 {
    font-size: 45px;
    text-align: center;
    margin-top: -20px;
 
}

p {
    font-size: 22px;
    text-align: center;
}

.hero-image {
        /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
        background-image: linear-gradient(rgba(241, 237, 237, 0.308), rgba(190, 186, 186, 0.5)), url("images/quokka_cs.jpg");
      
        /* Set a specific height */
        height: 400px;
      
        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 75%;
        padding-top: 90px;
      }
      
.hero-text {
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }

button {
       border-radius: 8px;
       background-color: white;
       padding: 10px;
       
   }

@media (min-width: 768px) {

    .toggle-button {

        display: none;

    }

    ul.nav-links {

        display: block;

        float: right;

    }

    .nav-links li {

        display: inline-block;

        padding: 10px;

        border-bottom: none;

    }

  
    }}