
.red-bg {
	background-color: rgb(255, 255, 255);

}

.green-bg {
	background-color: rgb(255, 255, 255;
	
}

.blue-bg {
	background-color: rgb(255, 255, 255);
}

.yelllow-bg {
	background-color: rgb(255, 255, 255;
}

.purple-bg {
	background-color: rgb(255, 255, 255);
}
