/* BACKGROUND COLORS */
.red-bg {
    background-color: white;
}

.green-bg {
    background-color: white;
}

.blue-bg {
    background-color: white;
}

.yellow-bg {
    background-color:white;
}

.purple-bg {
    background-color: white;
}


