
@import url("colors.css");
@import url("navbar.css");
@import url("layout.css");


header {
    width: 100%;
    background-color: white;
	position: fixed;
}
.floater-img {
	max-width: 200px;
	
}
.floater {
	padding-top: 80px;
}

.toggle-button {
    width: 40px;
    float: right;
    margin: 10px;
	
}

#toggleAssist, ul.nav-links {
	display: none;
}

#toggleAssist:checked +ul.nav-links {
    display:block;
}
#toggleAssist:checked+ ul.yellow-bg {
	display: block;
}
#toggleAssist:checked+ ul.order-2 {
	display: inline-block;
}
body {
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
    text-decoration: white;
	align-content: center;

}
    .wrapper {
    display: grid;
    grid-gap: 15px;
        grid-template-columns: 33 100px 100px;
        background-color: #black;
        color: #444;
		margin: auto 0;
		align-content: center;
		padding-top: 100px;
    }

    .box {
        background-color: #000000;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;

    }

    .a {
        grid-area: 1 / 2 / 2 / 3;
    }
    .b {
        grid-area: 2 / 2 / 3 / 3;
    }
    .c {
        grid-area: 2 / 3 / 3 / 4;
    }
    .d {
        grid-area: 1 / 1 / 2 / 2;
    }
    .e {
        grid-area: 2 / 1 / 3 / 2;
    }
    .f {
        grid-area: 1 / 3 / 2 / 4;
    }



.grid-container {
    display: grid;
    grid-template-rows: [h-line-1 firstH] 1fr [h-line-2] 1fr [h-line-3] 1fr [h-line-4];
    grid-template-columns: [v-line-1] auto [v-line-2] auto [v-line-3] auto [v-line-4];
    grid-gap: 15px;
    height: 600px;
	padding-top: 100px;
	
  }

.gd-3 {
grid-column: v-line-1 / v-line-4;
grid-row: 1 / h-line-3;
}

.gd-4, .gd-5 {
    grid-row: h-line-2 / h-line-3;
}

.gd-6 {
    grid-row: h-line-3 / h-line-4;
}


main {
    width: 100%;
    background-color:  white;
    margin: auto;
	text-align: center;
	max-width: 960px;
}
section {
    padding: 0px;
	text-align: center;
	padding-top: 10px;
	align-items: center;
}

@media (min-width: 768px) {

	.main {
		margin left: 20px;
		margin right: 20px;
	
	}
    .toggle-button {

        display: none;

    }

    .flex {
        flex-direction: row; 
        justify-content: space-between;
    }
    
    nav.flex {
        justify-content: space-between;
    
    }
 
    ul .flex {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    nav .logo {
        max-width: 20%;
        max-width: 50px;
    
    }


    .flex yellow-bg {
       display: none; 

    }

    .order-md-1{
        order: 1;
    }
    
    .order-md-2{
        order: 2;
    }
    
    .order-md-3{
        order: 3;
	}

@media (min-width: 960px) {
    grid-container {        
    width: 800px;
   
    }     

	}


}