.flex {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
	letter-spacing: 0.109em;
	font-size: 21px;
}
nav.flex {
	display: none;
}

.logo {
	width: 200px;
}
	
nav .logo {
    max-width: 100%;
    box-sizing: border-box;

}
nav .logo-container {
    background-color: rgb(255, 255, 255);
    text-align: center;
	max-width: 200px;
}

nav ul {
    margin: 0px;
    padding-left: 0px;
    list-style: none;

}

nav ul li {
    padding: 10px;
    border-bottom: .5px solid rgb(0, 0, 0);
    text-align: center;
    font-size: large;

}

nav a {
    text-decoration: none;
    color: black;

}
.order-1{
    order: 1;
}

.order-2{
    order: 2;
}

.order-3{
    order: 3;
}

.image-grid img {
    width: 80%;
}

.image-grid p {
    padding: 10px;
}

section.flex {
    align-items: center;
}

@media (min-width: 768px){
    .flex {
		display: flex;
        flex-direction: row; 
        justify-content: space-between;
    }
    
    nav.flex {
        justify-content: space-evenly;
    	display: flex;
    }
 
    ul .flex {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    nav .logo {
        max-width: 20%;
        max-width: 100px;
    
    }


    .flex yellow-bg {
       display: none; 

    }

    .order-md-1{
        order: 1;
    }
    
    .order-md-2{
        order: 2;
    }
    
    .order-md-3{
        order: 3;
    }
  

    /* jeffryes/connected cat github */
}
