body {
    margin: 0px;
    background-color: white;
}

header {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgb(64, 64, 223);

}

header h1 {
    margin-top: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    font-color: #fffff;
}

hr {
    margin: 0px;
}

form {
    margin-top: 15px;
    
}

label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.986);
}

select {
    margin-right: 25px;
    padding: 5px;
}

#galleryCarousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 90%;
    margin: 50px auto;
    padding: 20px;

    box-sizing: border-box;
    background-color: rgb(blue);
    border-radius: 5px;
}

#galleryCarousel img {
    width: 20%;
    border-radius: 3px;
}

#galleryCarousel img:hover {
    box-shadow: 4px 4px 8px black;
}

