

/*First responsive site*/

	
		body {
		margin:0;
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	
}

header {
    width: 100%;
    background-color:  white;
	position: fixed;
}

.logo {
    max-width: 75px;
    margin: 10px;
}

.toggle-button {
    width: 40px;
    float: right;
    margin: 10px;
	
}	

#toggleAssist, ul.nav-links {
	display: none;
}

#toggleAssist:checked + ul.nav-links 
{display:block;}

	
	
ul.nav-links {
    list-style: none;
    margin: 0px;
    padding: 20px;
}

.nav-links li {
    padding: 10px 0px;
    border-bottom: 1px solid rgb(0,0,0);
	align-content: center;
	text-align: center;
}

.nav-links a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

main {
    width: 100%;
    background-color: white;
    margin: auto;
	align-text:center;
}

section {
    padding: 20px;
	align-text: center;
	padding-top: 100px;
	align-items: center;
}

img {
    max-width: 100%;
	
}

	@media (min-width: 450px) 
	
	{
		
    main {
        width: 400px;
    }
}

@media (min-width: 768px) {

    .toggle-button {

        display: none;

    }

    ul.nav-links {

        display: block;

        float: right;

    }

    .nav-links li {

        display: inline-block;

        padding: 10px;

        border-bottom: none;

    }
	
	main { 
	width: 650px;
	}
	
}
