@charset "UTF-8"
/*First responsive site*/

	/* {
  box-sizing: border-box;
} */ 
	
	
;.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}



		body {
		margin:0;
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		box-sizing: border-box;	
}
header {
    width: 100%;
    background-color:  white;
	box-sizing: border-box;
	position: fixed;
}

.logo {
    width: 76px;
    margin: 10px;
}

.toggle-button {
    width: 40px;
    float: right;
    margin: 10px;
	
}	#toggleAssist, 
ul.nav-links {
	display: none;
}

#toggleAssist:checked + ul.nav-links 
{display:block;}

	
	
ul.nav-links {
    list-style: none;
    margin: 0px;
    padding: 20px;
}

.nav-links li {
    padding: 10px 0px;
    border-bottom: 1px solid rgb(156, 6, 106);
}

.nav-links a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

main {
    width: 100%;
    background-color: white;
    margin: auto;
	box-sizing: border-box;
}

section {
    padding: 20px;
	box-sizing: border-box;
}

img {
    max-width: 50%;
}
	@media (min-width: 450px) 
	
	{
    main {
        width: 400px;
    }
}
@media (min-width: 768px) {

    .toggle-button {

        display: none;

    }

    ul.nav-links {

        display: block;

        float: right;

    }

    .nav-links li {

        display: inline-block;

        padding: 10px;

        border-bottom: none;

    }
	main { 
	width: 650px;
	}
	
}
